#microShiftsLanding section.hero {
  /* background-image: url("./assets/images/forest.jpg");
  background-position: center;
  background-size: cover; */
}

#microShiftsLanding .hero-foot {
  background: #D3C5D1;
}

p.title {
  font-size: 36px;
}

#heroVideo {
  object-fit: cover;
}

.emailBTN {
  border-radius: 6px;
  margin-left: -12px;
  font-family: Arial, Helvetica, sans-serif;
}

.emailBTNCLMN {
  flex-grow: 0;
  flex-basis: 0;
}

p.subtitle:not(:last-child) {
  font-size: 24px;
}

.emailInput {
  border-radius: 6px;
}

#microShiftsLanding .body {
  font-family: 'Arial';
}

@media only screen and (max-width: 767px) {
  .emailBTNCLMN {
    padding-bottom: 0px;
  }
  .hero-video {
    display: block;
  }
  p.subtitle:not(:last-child) {
    margin-bottom: 0px;
  }
}