#microShiftsLanding section.hero {
  /* background-image: url("./assets/images/forest.jpg");
  background-position: center;
  background-size: cover; */
}
#microShiftsLanding .hero-foot {
  background:#D3C5D1 ;
}

#heroVideo {
  object-fit: cover;
}